<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
     http://www.springframework.org/schema/beans/spring-beans-2.5.xsd    
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-autowire="autodetect" default-lazy-init="false">
	
	<context:annotation-config />
	<context:component-scan base-package="com.servicecenter.service.impl" />
	<context:component-scan base-package="com.servicecenter.service.db.impl" />
	<context:component-scan base-package="com.servicecenter.service.db" />
	
	<bean id="userService" class="com.servicecenter.service.db.impl.UserService" />
	<bean id="orderService" class="com.servicecenter.service.db.impl.OrderService" />
	<bean id="doctorService" class="com.servicecenter.service.db.impl.DoctorService" />
	<bean id="patientService" class="com.servicecenter.service.db.impl.PatientService" />
	<bean id="departmentService" class="com.servicecenter.service.db.impl.DeparmentService" />
	<bean id="patientCardService" class="com.servicecenter.service.db.impl.PatientCardService" />
	<bean id="doctorScheduleService" class="com.servicecenter.service.db.impl.DoctorScheduleService" />
	
</beans>